{{ ansible_managed | comment }}
{% for item in shorewall_rules %}
?SECTION {{ item.section }}
{%   if item.rules is defined %}
{%     for rule in item.rules %}
{{ rule.action }}   {{ rule.source }}   {{ rule.dest }}   {{ rule.proto }}   {{ rule.dest_ports|join (',') }}
{%     endfor %}
{% endif %}
{% endfor %}
