{{ ansible_managed | comment }}
{% if shorewall_masquerade_info.enabled %}
{%  if shorewall_masquerade_info.rules is defined %}
{%    for rule in shorewall_masquerade_info.rules %}
MASQUERADE {{ rule.sources|join (',') }} {{ rule.interface }}
{%    endfor %}
{%  else %}
MASQUERADE {{ shorewall_masquerade_info.sources|join (',') }} {{ shorewall_masquerade_info.interface }}
{%  endif %}
{% endif %}
